doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Vegan Meal Planner
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      h1 Vegan Meal Planner
      table.table
        thead.thead-dark
          tr
            th(scope='col') Day of the Week
            each timeOfDay in ["Breakfast", "Lunch", "Dinner", "Snack", "Beverage"]
              th(scope='col')= timeOfDay
        tbody
        each val, day in {Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday}
          tr
            th(scope='row')
              a(class='button', href="" + day)= day
            each timeOfDay in ["Breakfast", "Lunch", "Dinner", "Snack", "Beverage"]
              - if (val[timeOfDay] && val[timeOfDay].length > 0)
                td
                  ul
                    - for (i = 0; i < val[timeOfDay].length; i++)
                      li
                        a(class='button', href="/meal/update/" + val[timeOfDay][i].id)=val[timeOfDay][i].mealName
    footer.footer
      .container
        span.text-muted Copyright 2018 by Kira Hartlage
