doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Vegan Meal Planner
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Lato|Satisfy', rel='stylesheet')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="/js/app.js" type="text/javascript")
  body

    #tableDataWeek.container
      h1 Weekly Vegan Meal Planner
      
      #carouselCPG.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-50(src='img/081_DDOC_May_We_Be_Guided_By_Our_Compassionate_Hearts.jpg', alt='May we be guided by our compassionate hearts rather than our cultural habits.')
          .carousel-item
            img.d-block.w-50(src='img/Animalogy_share_kind.jpg', alt='Be kind to animals. Dont eat them.')
          .carousel-item
            img.d-block.w-50(src='img/Quote_card_distaste_for_violence.jpg', alt='Im vegan because my distaste for violence against animals is greater than my taste for animal products.')
      
      .buttonControls
        a.btn.btn-primary.btn-lg(href='/add', role='button') Add a meal

      table.table.table-sm.table-bordered.table-responsive-md
        thead.thead-dark
          tr
            th(scope='col') Day of the Week
            each timeOfDay in ["Breakfast", "Lunch", "Dinner", "Snack", "Beverage"]
              th(scope='col')= timeOfDay
        each val, day in {Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday}
          tr
            th(scope='row')
              a(class='button dayOfWeek', href="" + day)= day
            each timeOfDay in ["Breakfast", "Lunch", "Dinner", "Snack", "Beverage"]
              - console.log("val time of day is ", val[timeOfDay][0]);
              - if (val[timeOfDay] && val[timeOfDay].length > 0)
                td
                  ul
                    - for (i = 0; i < val[timeOfDay].length; i++)
                      li
                        a(class='button', href="/meal/update/" + val[timeOfDay][i].id)=val[timeOfDay][i].mealName
                        //- button(type="button" class='btn btn-xs btn-danger', onclick="handleDeleteMealClickWeek('" + val[timeOfDay][i].id + "')") Delete
                        a(class='button deleteButton', onclick="handleDeleteMealClickWeek('" + val[timeOfDay][i].id + "')") (Delete)
              - else
                td

              
    footer.footer
      .container
        span.text-muted Copyright 2018 by Kira Hartlage
