body {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: green;
  font-family: 'Satisfy', cursive;
}

ul {
  list-style-type: none;
}

th {
  text-align: left;
}

td {
  max-width: 150px;
  word-wrap: break-word;
}

.jumbotron {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  cursor: pointer;
}

.deleteButton {
  margin-left: 20px;
}

.carousel-inner img {
  margin: auto;
}

/* Override defaults in Bootstrap */
a:not([href]):not([tabindex]) {
    color: red;
    text-decoration: underline;
}

#carouselCPG {
  display: none;
}

/* Media Queries */
/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

  td {
    max-width: 250px;
  }

  .jumbotron {
    display: block;
    background-image: url('/img/cabbage.jpg');
    background-size: 100%;
  }

  .jumbotron h1 {
    color: white;
  }

  #carouselCPG {
    display: block;
  }
}

@media (min-width: 992px) {
  #carouselCPG img {
    width: 25% !important;
  }
}
